@charset "utf-8";

h1{
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.slides{
    overflow: hidden;
    position: relative;
    width: 1120px;
    height: 450px;
    margin: 0 auto;
    border: 1px solid #000;
}

.slides>.pagination{
    position: absolute;
    right: 90px;
    top: 50%;
    margin-top: -150px;
    border: 1px solid red;
}

.slides>.pagination>li{
    width: 180px;
}

.slides>.pagination>li:nth-child(1){
    background-image: url(./../images/indicator-1.jpg);
}

.slides>.pagination>li:nth-child(2){background-image: url(./../images/indicator-2.jpg);}

.slides>.pagination>li:nth-child(3){background-image: url(./../images/indicator-3.jpg);}

.slides>.pagination>li:nth-child(4){background-image: url(./../images/indicator-4.jpg);}

.slides>.pagination>li:nth-child(5){background-image: url(./../images/indicator-5.jpg);}

.slides>.pagination>li>a{
    display: block;
    height: 60px;
    text-indent: -9999px;
}

.slides>.pagination>li:hover>a,
.slides>.pagination>li.on>a{
    border: 2px solid skyblue;
    box-sizing: border-box;
}

/* 컨테이너 */
.slides>.container{
    display: flex;
    position: absolute;
    /*
        left : -1120 * index
    
        첫번째 슬라이드   left : -1120 * 0칸이동
        두번째 슬라이드   left : -1120 * 1칸이동
        세번째 슬라이드   left : -1120 * 2칸이동
        네번째 슬라이드   left : -1120 * 3칸이동
        다섯째 슬라이드   left : -1120 * 4칸이동

    */
    left: 0;
    top: 0;
    width: calc(1120px * 5);

    transition: all 0.4s ease-in-out;
}

.slides>.container>p{
    width: 1120px;
    background-position: center center;
    background-size: cover;
}

.slides>.container>p:nth-child(1){background-image: url(./../images/slide-1.jpg);}
.slides>.container>p:nth-child(2){background-image: url(./../images/slide-2.jpg);}
.slides>.container>p:nth-child(3){background-image: url(./../images/slide-3.jpg);}
.slides>.container>p:nth-child(4){background-image: url(./../images/slide-4.jpg);}
.slides>.container>p:nth-child(5){background-image: url(./../images/slide-5.jpg);}

.slides>.container>p>a{
    display: block;
    height: 450px;
    text-indent: -9999px;
}

/* 이전,다음 */
.slides>a{
    position: absolute;
    top: 50%;
    display: block;
    width: 80px;
    height: 100px;  
    margin-top: -50px; 
    text-indent: -9999px;
    background-image: url(./../images/btn_navigation.png);
}

.slides>a.prev{
    left: 0;
    background-position: -5px -225px;
}

.slides>a.prev:hover{
    background-position: -5px -335px;
}

.slides>a.next{
    right: 0;
    background-position: -5px -5px;
}

.slides>a.next:hover{
    background-position: -5px -115px;
}

/* 자동실행, 정지버튼 */
.slides>span{
    display: block;
    width: 20px;
    height: 20px;
    position:absolute;
    bottom:30px;
    background-image:url(./../images/icons.png);
    cursor: pointer;
    text-indent: -9999px;
}

.slides>span.play{
    right:180px;
    background-position: -62px -24px;
}

.slides>span.stop{
    right:150px;
    background-position: 0px -57px;
}


address{
    height: 50px;
    line-height: 50px;
    text-align: center;
}