<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>톡톡</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <h1 class="text-center">NodeJS 톡톡</h1>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/app.js"></script>
</body>
</html>